{% extends 'registration/login.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div  class="card">
<div  class="card-body">
<h4  class="card-title text-center">Reset your password</h4>
    <div class="row">
        <div class="col-4 offset-4">
<form  method="post">
    {% csrf_token %}
    <input  type="hidden"  name="next"  value="{{ next }}">
    {% bootstrap_form form %}
    <button  type="submit"  class="btn btn-primary btn-block">Reset</button>
</form>
    </div>
        </div>
</div>
</div>
</div>
{% endblock %}